.style1{
    font-family: monospace;
    margin: 35px 0px;
}
.style2{
    padding: 30px;
    border: 2px solid gainsboro;
    border-radius: 25px;
    background-color: #343a40;
    margin: 30px 40px;
}
.style3{
    color: azure;
}
.style4{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 750px) {
    /* For mobile phones: */
    .style2{
        margin: auto;
        margin-left: auto;
        margin-right: auto;
    width: 300px;}
  }